@font-face
{
    font-family: "Raleway";
    src: url('fonts/Raleway-VariableFont_wght.ttf');
    src: url('fonts/Raleway-Italic.ttf');
    src: url('fonts/Raleway-Italic-VariableFont_wght.ttf');
    src: url('fonts/Raleway-Bold.ttf');
    src: url('fonts/Raleway-Regular.ttf');
    
}

* 
{
    font-family: 'Raleway', Arial, Verdana, sans-serif;
   
}

body
{
    background-color: #FFFFFF ;
    font-family: "Raleway", sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
}

#block_page
{
    width: 1440px;
    
}

a, a:link 
{
    text-decoration: none;
    color: black;
}

#header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    margin-right: 30px;
    margin-left: 54px;
}

.navtop_bar 
{
    margin-left: auto;
}

.navtop 
{
    text-align: center;
    padding: 30px 30px 30px 30px;
}

.nav_login
{
    padding: 30px 30px 30px 30px;
    color:#0065fc;
    font-weight: bold;
}

.navtop_links a:hover
{
   color: #0065FC;
   border-top: 1px solid #0065FC ;
   font-weight: bold;
}





    /*Responsive -mobile*/
@media screen and (max-width: 500px)
{

    #block_page
    {
        width: auto;
        height: auto;
    }

    #logo 
    {
        margin-left: 20px;
    }

    #header 
    {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .navtop 
    {
        padding: 16px 16px 16px 16px;
        width: 50%;  
        border-bottom: 3px solid #F2F2F2;
    }

    .navtop_bar 
    {
        width:100%;
        display: flex;
        order: 3;
    }

    .navtop_links :hover 
    {
        color: #106ffc;
        border-bottom: 3px #106ffc solid;
       
    }

    .navtop_links 
    {
        width: 100%;
        display: flex;
        border-top: none;
    }


    /*main*/

main
{
    margin-left: 50px;
    margin-right: 50px;
}
    
.title1 strong
{
    font-weight: bold;
    font-size: 1em;
}
    
p.subtitle
{
     margin: 5px 0px 20px 0px;
     font-size: medium;
}
    
    
#search .icon
{
    padding: 15px 30px 15px 20px;
    background-color: #F2F2F2;
    color: #000000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 1em;
    text-align: center;
}
    
.cities
{
    color: initial;
    width: 200px;
    padding: 15px 20px 15px 20px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
}
    
.search_button
{
    background-color: #0065FC;
    color: #FFFFFF;
    font-weight: bold;
    padding: 15px 20px 15px 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 130px;
    border:none;
    font-size: small;
    text-align: center;
}
    
.fa-search /* icone loupe */
{
    visibility: hidden;
}
    
.search_box
{
    display: flex;
    flex-direction: row;    
}

    
@media only screen and (max-width: 500px)
{
    main 
    {
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #after_header
    {
        margin-left: 20px;
        margin-right: 0px;
    }

    .title1 strong
    {
        font-weight: bolder;
        font-size: 1em;
        width: 230px;
    }

    p.subtitle
    {
        margin: 5px 0px 20px 0px;
        font-size: 1em;
    }

    .search_button
    {
        padding: 10px;
        border-radius: 20%;
        width: 50px;
        height: 50px;
    }

    .fa-search
    {
        visibility: visible;
        font-size: 1.7em;
        margin: -10px;
        padding: -10px;
    }

    .search_button span
    {
        visibility: hidden;
    }

}



    /*Filtres*/

 

.all_button
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 845px;
    height: 50px;
    margin: 30px 30px 30px 0px;
}

#filters
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title2
{
    margin: 5px;
    font-size: 1.1em;
    color: initial;
    font-weight: bold;
    padding-right: 30px;
}

span .icone
{
    background-color: #DEEBFF;
    border-radius: 60%;
    margin-left: 0px;
    margin-right: 10px;
    width: 47px;
    height: 47px;
    color: #0065FC;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#money .money_button
{
    color: initial;
    width: 170px;
    height: 47px;
    padding: 0px;
    margin: 0px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: initial;
    border-radius: 50px;
    border:none;
    border-bottom: 2px solid #F2F2F2;
    border-top: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#familly .fam_button
{
    color: initial;
    width: 150px;
    height: 47px;
    padding: 0px;
    margin: 0px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: initial;
    border-radius: 50px;
    border:none;
    border-bottom: 2px solid #F2F2F2;
    border-top: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#love .heart_button
{
    color: initial;
    width: 180px;
    height: 47px;
    padding: 0px;
    margin: 0px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: initial;
    border-radius: 50px;
    border:none;
    border-bottom: 2px solid #F2F2F2;
    border-top: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: center;
}


#animals .dog-button
{
    color: initial;
    width: 240px;
    height: 47px;
    padding: 0px;
    margin: 0px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: initial;
    border-radius: 50px;
    border:none;
    border-bottom: 2px solid #F2F2F2;
    border-top: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: center;
}


@media only screen and (max-width: 500px)
{
    
    #filters
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .all_button
    {
        display: flex;
        flex-wrap: wrap;
        height: 175px;
        width: 324px;
        margin: 0px;
    }
    
}


    /*  Petit info*/

#info
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

#info .fa-info
{
    border-radius: 60%;
    width: 20px;
    height: 20px;
    padding: 5px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    background-color: initial;
    text-align: center;
}

#info p
{
    color: initial;
    font-size: 1em;
    padding-left: 10px;
}

@media only screen and (max-width: 500px)
{
    #info
    {
        width: 375px;
        margin-top: 20px;
        display: flex;
        align-items:baseline;
    }

}

    /*cards pour les hotels*/
.hotelcard img
{
    width: 200px;
    height: 100px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px ;
    padding: 0px;
    image-rendering:pixelated;

}
.title3
{
    
    margin: 30px;
    font-size: 1em;
    font-weight: bold;
}

#accomondation
{
    background-color: #F2F2F2;
    width: 880px;
    height: 620px;
    border-radius: 25px;
}

.row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 16px;
    padding: 0px;
}

.card
{
    margin: 30px;
    padding: 5px 5px 30px 5px;
    width: 200px;
    height: 150px;
    border-radius: 30px;
    background-color: #FFFFFF;
    text-align: left;
    box-shadow: 0 0 10px #0000002e;
    
}
.hotelcard
{
    text-decoration: none;
    
}

.container
{
    text-align: justify;
    font-size: 0.8em;
    line-height: 30%;
    padding-left: 5px;
    
}

.nom_room
{
    color: initial;
    font-weight: bold;
    padding-bottom: 5px;
}

.price_room
{
    color: initial;
}

.stars
{
    color: #0065FC;
    padding-bottom: 30px;
}

.stars span
{
    color: #F2F2F2;
}

strong .price
{
    font-weight: bold;
}

.accomondation_container
{
    text-align: justify;
}


.more p
{
    padding-left: 3em;
    font-weight: bold;
}


    /*les hotels populaires*/

.hotelcard1 img
{
    width: 130px;
    height: 130px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px ;
    padding: 5px 0px 5px 5px;
    image-rendering:pixelated;
}

#populare
{
    background-color: #F2F2F2;
    width: 400px;
    height: 620px;
    border-radius: 30px;
    text-align: justify;
    margin-left: 45px;

}

#populare .title_4
{
    
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    
}

.hotels_pop span
{
    font-size: 1em;
    padding-right: 20px;
}

.row1
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column1
{
    display: flex;
    justify-content: center;
}

.hotelcard1
{
    margin: 20px;
    width: 340px;
    height: 140px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #0000002e;
    display: flex;
    text-decoration: none;
}

.container1
{   
    text-align: left;
    font-size: 0.8em;
    color: initial;
    padding-left: 10px;
} 

.nom_pop
{
    color: initial;
    font-weight: bold;
    padding-bottom: 5px;
}

.stars
{
    color: #0065FC;
    padding-bottom: 30px;
}

.stars span
{
    color: #F2F2F2;
}

#hotels_total
{
    width: 1335px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#accomondation, #populare
{
    text-align: justify;
}

@media only screen and (max-width: 500px)
{

    #hotels_total
    {
        flex-direction:column-reverse;
    }

    #populare
    {
        background-color: #F2F2F2;
        width: 500px;
        height: 620px;
        border-radius: 0px;
        
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }

    .row1
    {
        margin: 0px;
        padding: 0px;
        
    }
    
    #accomondation
    {
        background-color: #FFFFFF;
        height: 1313px;
        width: 373px;
        display: flex;
        flex-direction: column;
    }

    .title3
    {
        margin-left: 20px;
    }

    .row
    {
        
        margin-left: 20px;
        width:374px;
        
    }

    .card
    {
        margin: 10px;
        width: 340px;
        height: 160px;
    }

    .hotelcard img 
    {
        width: 340px;
        height: 113px;
    }

    .container
    {
        text-align: left;
        margin-left: 0px;
    }



}

    /*Activités*/

.activities_Marseille
{
    margin-top: 50px;
    width: 1335px;
}

.title_5 h2
{
    text-align: left;
    margin-bottom: 30px;
    font-size: large;
    font-weight: bold;
}

.activities
{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}


.boxes_activities_left
{
    display: flex;
    flex-direction: row;
}

.boxes_activities_right
{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.activity2_3
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
}

.activity5_6
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
}

.activity1 img, .activity4 img
{
    width: 300px;
    height: 390px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px ;
    image-rendering:pixelated;
}

.activity2 img
{
    width: 300px;
    height: 180px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px ;
    image-rendering:pixelated;
}

.activity3 img
{
    width: 300px;
    height: 104px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    image-rendering:pixelated;
}

.activity5 img
{
    width: 300px;
    height: 138px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px ;
    image-rendering:pixelated;
}

.activity6 img
{
    width: 300px;
    height: 150px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px ;
    image-rendering:pixelated;
}

.card_act_1, .card_act_4
{
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 445px;
    border-radius: 25px;
    box-shadow: 0 0 10px #0000002e;
}

.card_act_2
{   
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 232px;
    border-radius: 25px;
    box-shadow: 0 0 10px #0000002e;
}

.card_act_3
{
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 150px;
    border-radius: 25px;
    box-shadow: 0 0 10px #0000002e;
}

.card_act_5
{
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 190px;
    border-radius: 25px;
    box-shadow: 0 0 10px #0000002e;
}

.card_act_6
{

    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 0 10px #0000002e;
}

.activities a
{
    text-decoration: none;
    font-size: 0.9em;
    font-style: normal;
    color: black;
    font-weight: bold;
    text-align: left;
}

.activities p
{
    padding-left: 25px;
}


@media only screen and (max-width: 500px)
{
    .activities_Marseille
    {
        width: 375px;
        height: 1358px;
        margin-top: 250px; 
    }

    .title_5
    {
        margin-left: 20px;
    
    }

    .activities
    {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
    }

    .boxes_activities_left
    {
        display: flex;
        flex-direction: column;
    }

    .boxes_activities_right
    {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }   

    .activity2_3,
    .activity5_6
    {
        margin-left: 0px;
    }

    
    
    .activity1 img,
    .activity2 img,
    .activity3 img,
    .activity4 img,
    .activity5 img,
    .activity6 img
    {
        width: 330px;
        height: 130px;

    }

    .card_act_1,
    .card_act_2,
    .card_act_3,
    .card_act_4,
    .card_act_5,
    .card_act_6
    {
        width: 330px;
        height: 190px;
        margin-bottom: 20px;
        
    
    }
}

    /*Footer*/



.footer_all
{
    background-color: #F2F2F2;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items:stretch;
    
    align-items: center;
}



.final
{
    font-size: 1em;
    font-weight: bolder;
}

.final p
{
    font-size: 0.8em;
    font-style: normal;
}


@media only screen and (max-width: 500px)
{
    footer 
    {
        height: 485px;
        max-width: 500px;
        background-color: #F2F2F2;
        margin-top: 0px;
    }
        .footer_all
    {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 20px;
        padding-top: 45px;
        padding-left: 20px;
}