@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-VariableFont_wght.ttf");
  src: url("fonts/Raleway-Italic.ttf");
  src: url("fonts/Raleway-Italic-VariableFont_wght.ttf");
  src: url("fonts/Raleway-Bold.ttf");
  src: url("fonts/Raleway-Regular.ttf");
}

* {
  font-family: "Raleway", Arial, Verdana, sans-serif;
}

body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  color: black;
  margin: 0px;
  padding: 0px;
}

#block_page {
  width: auto;
}

a,
a:link {
  text-decoration: none;
  color: black;
}

/*La création de la navbar*/

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
  margin-right: 50px;
  margin-left: 54px;
}

.navtop_bar {
  margin-left: auto;
}

.navtop {
  text-align: center;
  padding: 30px 30px 30px 30px;
}

.nav_login {
  padding: 30px 30px 30px 30px;
  color: #0065fc;
  font-weight: bold;
  margin-right: 50px;
}

.navtop_links a:hover {
  color: #0065fc;
  border-top: 1px solid #0065fc;
  font-weight: bold;
}

/*main*/

main {
  margin-left: 50px;
  margin-right: 50px;
}

.title1 strong {
  font-weight: bold;
  font-size: 1em;
}

p.subtitle {
  margin: 5px 0px 20px 0px;
  font-size: medium;
}

#search .icon {
  padding: 15px 30px 15px 20px;
  background-color: #f2f2f2;
  color: #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 1em;
  text-align: center;
}

.cities {
  color: initial;
  width: 200px;
  padding: 15px 20px 15px 20px;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
}

.search_button {
  background-color: #0065fc;
  color: #ffffff;
  font-weight: bold;
  padding: 15px 20px 15px 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 130px;
  border: none;
  font-size: small;
  text-align: center;
}

.fa-search /* icone loupe */ {
  visibility: hidden;
}

.search_box {
  display: flex;
  flex-direction: row;
}

.search_box :hover {
  cursor: pointer;
}

/*Les Filtres*/

.all_button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content:space-between;
  width: 845px;
  height: 50px;
  margin: 30px 30px 30px 0px;
}

#filters {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title2 {
  margin: 5px;
  font-size: 1.1em;
  color: initial;
  font-weight: bold;
  padding-right: 30px;
}

span .icone {
  background-color: #deebff;
  border-radius: 60%;
  margin-left: 0px;
  margin-right: 10px;
  width: 47px;
  height: 47px;
  color: #0065fc;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#money .money_button {
  color: initial;
  width: 170px;
  height: 47px;
  padding: 0px;
  margin: 0px;
  font-size: 1.1em;
  font-weight: bold;
  background-color: initial;
  border-radius: 50px;
  border: none;
  border-bottom: 2px solid #f2f2f2;
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#familly .fam_button {
  color: initial;
  width: 150px;
  height: 47px;
  padding: 0px;
  margin: 0px;
  font-size: 1.1em;
  font-weight: bold;
  background-color: initial;
  border-radius: 50px;
  border: none;
  border-bottom: 2px solid #f2f2f2;
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#love .heart_button {
  color: initial;
  width: 180px;
  height: 47px;
  padding: 0px;
  margin: 0px;
  font-size: 1.1em;
  font-weight: bold;
  background-color: initial;
  border-radius: 50px;
  border: none;
  border-bottom: 2px solid #f2f2f2;
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#animals .dog-button {
  color: initial;
  width: 240px;
  height: 47px;
  padding: 0px;
  margin: 0px;
  font-size: 1.1em;
  font-weight: bold;
  background-color: initial;
  border-radius: 50px;
  border: none;
  border-bottom: 2px solid #f2f2f2;
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#money :hover,
#familly :hover,
#love :hover,
#animals :hover {
  color: #0065fc;
  cursor: pointer;
}

/*  Petit info*/

#info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

#info .fa-info {
  border-radius: 60%;
  width: 20px;
  height: 20px;
  padding: 5px;
  color: #0065fc;
  border: 2px solid #f2f2f2;
  background-color: initial;
  text-align: center;
}

#info p {
  color: initial;
  font-size: 1em;
  padding-left: 10px;
}

/*Section 1 hebergement*/

.title3 {
  margin: 30px;
  padding-left: 15px;
  font-size: 1.3em;
  font-weight: bold;
}

#accomondation {
  background-color: #f2f2f2;
  width: 880px;
  height: 620px;
  border-radius: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 16px;
  padding: 0px;
}

.hotelcard img {
  width: 200px;
  height: 100px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 0px;
  image-rendering: pixelated;
}

.card {
  margin: 30px;
  padding: 5px 5px 30px 5px;
  width: 200px;
  height: 150px;
  border-radius: 30px;
  background-color: #ffffff;
  text-align: left;
  box-shadow: 0 0 10px #0000002e;
}

.hotelcard {
  text-decoration: none;
}

.container {
  text-align: justify;
  font-size: 0.8em;
  line-height: 30%;
  padding-left: 5px;
}

.nom_room {
  color: initial;
  font-weight: bold;
  padding-bottom: 5px;
}

.price_room {
  color: initial;
}

.stars {
  color: #0065fc;
  padding-bottom: 30px;
}

.stars span {
  color: #f2f2f2;
}

strong .price {
  font-weight: bold;
}

.accomondation_container {
  text-align: justify;
}

.more p {
  padding-left: 3em;
  font-weight: bold;
}

/*les hotels populaires*/

#populare {
  background-color: #f2f2f2;
  width: 400px;
  height: 620px;
  border-radius: 30px;
  margin-left: 45px;
}

.hotels_pop {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  font-size: 1.3em;
  font-weight: bold;
}

.row1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 25px;
}

.column1 {
  display: flex;
  justify-content: center;
}

.hotelcard1 img {
  width: 130px;
  height: 130px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 5px 0px 5px 5px;
}

.hotelcard1 {
  margin: 20px;
  width: 340px;
  height: 140px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 10px #0000002e;
  display: flex;
  text-decoration: none;
}

.container1 {
  text-align: left;
  font-size: 0.8em;
  color: initial;
  padding-left: 10px;
}

.nom_pop {
  color: initial;
  font-weight: bold;
  padding-bottom: 5px;
}

.stars {
  color: #0065fc;
  padding-bottom: 30px;
}

.stars span {
  color: #f2f2f2;
}

#hotels_total {
  width: 1335px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#accomondation,
#populare {
  text-align: justify;
}

/*Activités*/

#activities_Marseille {
  margin-top: 50px;
  width: 1335px;
}

.title5 {
  margin: 20px;
  font-size: 1.3em;
  font-weight: bold;
}

.activities {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  margin-bottom: 50px;
}

.boxes_activities_left {
  display: flex;
  flex-direction: row;
}

.boxes_activities_right {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.activity2_3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
}

.activity5_6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
}

.activity1 img,
.activity4 img {
  width: 300px;
  height: 390px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  image-rendering: pixelated;
  object-fit: cover;
}

.activity2 img {
  width: 300px;
  height: 180px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  image-rendering: pixelated;
  object-fit: cover;
}

.activity3 img {
  width: 300px;
  height: 104px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  image-rendering: pixelated;
  object-fit: cover;
}

.activity5 img {
  width: 300px;
  height: 138px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  image-rendering: pixelated;
  object-fit: cover;
}

.activity6 img {
  width: 300px;
  height: 150px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  image-rendering: pixelated;
  object-fit: cover;
}

.card_act_1,
.card_act_4 {
  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 445px;
  border-radius: 25px;
  box-shadow: 0 0 10px #0000002e;
}

.card_act_2 {
  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 232px;
  border-radius: 25px;
  box-shadow: 0 0 10px #0000002e;
}

.card_act_3 {
  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 150px;
  border-radius: 25px;
  box-shadow: 0 0 10px #0000002e;
}

.card_act_5 {
  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 190px;
  border-radius: 25px;
  box-shadow: 0 0 10px #0000002e;
}

.card_act_6 {
  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 200px;
  border-radius: 25px;
  box-shadow: 0 0 10px #0000002e;
}

.activities a {
  text-decoration: none;
  font-size: 0.9em;
  font-style: normal;
  color: black;
  font-weight: bold;
  text-align: left;
}

.activities p {
  padding-left: 25px;
}

/*Footer*/

footer {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .footer_bloc {
   display: flex;
   justify-content: space-between;
   width: 100%;
   max-width: 1440px;
 }

 .footer_elem {
   display: flex;
   flex-direction: column;
   padding: 30px;
   margin-bottom: 10px;
   width: 30%;
   line-height: 1.2em;
 }

 .h3 {
   font-size: 18px;
   margin-bottom: 15px;
 }

/*Responsive-mobile*/

@media screen and (min-width: 374px) and (max-width: 767px) {
  #block_page {
    width: auto;
    height: auto;
  }
}

/*Header*/
@media screen and (min-width: 374px) and (max-width: 767px) {
  #logo {
    margin-left: 20px;
  }

  #header {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .navtop {
    padding: 16px 16px 16px 16px;
    width: 50%;
    border-bottom: 3px solid #f2f2f2;
  }

  .navtop_bar {
    width: 100%;
    display: flex;
    order: 3;
  }

  .navtop_links a:hover {
    color: #106ffc;
    border-top: hidden;
    border-bottom: 3px solid #0065fc;
  }

  .navtop_links {
    width: 100%;
    display: flex;
  }

  .nav_login {
    margin-right: 0px;
  }
}

/*Main*/
@media screen and (min-width: 374px) and (max-width: 767px) {
  main {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #after_header {
    margin-left: 20px;
    margin-right: 0px;
  }

  .title1 strong {
    font-weight: bolder;
    font-size: 1em;
    width: 230px;
  }

  p.subtitle {
    margin: 5px 0px 20px 0px;
    font-size: 1em;
  }

  .search_button {
    padding: 10px;
    border-radius: 20%;
    width: 50px;
    height: 50px;
  }

  .fa-search {
    visibility: visible;
    font-size: 1.6em;
    margin: 0px;
    padding: 0px;
  }

  .search_button span {
    display: none;
  }
}

  /*Filters*/
@media screen and (min-width: 374px) and (max-width: 767px) {
  #filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .all_button {
    display: flex;
    flex-wrap: wrap;
    height: 175px;
    width: 324px;
    margin: 0px;
  }
}

@media screen and (min-width: 374px) and (max-width: 767px) {
  #info {
    width: 375px;
    margin-top: 20px;
    display: flex;
    align-items: baseline;
  }
}

/*section hebergement*/
@media screen and (min-width: 374px) and (max-width: 767px) {
  #hotels_total {
    flex-direction: column-reverse;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  #populare {
    width: auto;
    height: 620px;
    border-radius: 0px;
    margin-left: 0px;
    margin-bottom: 30px;
    padding-left: 0px;
  }

  .row1 {
    margin: 0px;
    padding: 0px;
  }

  #accomondation {
    background-color: #ffffff;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title3 {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .row {
    margin-left: 0px;
    width: auto;
  }

  .card {
    margin: 10px;
    width: 320px;
    height: 160px;
  }

  .hotelcard img {
    width: 320px;
    height: 113px;
  }

  .container {
    text-align: left;
    margin-left: 0px;
  }
}

/*section Activities*/
@media screen and (min-width: 374px) and (max-width: 767px) {
  #activities_Marseille {
    width: auto;
    height: auto;
    margin-top: 0px;
    
  }

  .title_5 {
    margin-left: 20px;
    
  }

  .activities {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }

  .boxes_activities_left {
    display: flex;
    flex-direction: column;
  }

  .boxes_activities_right {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }

  .activity2_3,
  .activity5_6 {
    margin-left: 0px;
  }

  .activity1 img,
  .activity2 img,
  .activity3 img,
  .activity4 img,
  .activity5 img,
  .activity6 img {
    width: 330px;
    height: 130px;
  }

  .card_act_1,
  .card_act_2,
  .card_act_3,
  .card_act_4,
  .card_act_5,
  .card_act_6 {
    width: 330px;
    height: 190px;
    margin-bottom: 20px;
  }
}

/*Footer*/

@media screen and (min-width: 374px) and (max-width: 767px) {
  .footer_bloc {
    height: 100%;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 20px;
  }

  .footer_elem {
    width: 100%;
    padding: 20px;
    font-size: 1em;
  }
}

/*Responsive pour les Tablets*/
@media (min-width: 768px) and (max-width: 991.98px) {
  main {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #after_header {
    margin-left: 20px;
    margin-right: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .all_button {
    display: flex;
    flex-wrap: wrap;
    height: 175px;
    width: 324px;
    margin: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #hotels_total {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    margin: 0px;
  }

  #populare {
    width: auto;
    height: 500px;
    border-radius: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }

  .row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
  }

  .hotelcard1 {
    width: 300px;
  }

  .hotels_pop {
    padding: 0px;
    width: 310px;
  }

  #accomondation {
    background-color: white;
    height: 100%;
    width: fit-content;
    padding-left: 0px;
    margin-left: 0px;
  }

  .row {
    display: flex;
    justify-content: center;
    margin-right: 20px;
  }

  .card {
    margin: 10px;
    width: 250px;
    height: 160px;
  }

  .hotelcard img {
    width: 250px;
    height: 113px;
  }

  .column {
    width: 350px;
    height: 200px;
    padding-left: 0;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #activities_Marseille {
    width: auto;
    height: auto;

    margin-left: 20px;
  }

  .activities {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
  }

  .boxes_activities_right {
    margin: 0px;
    padding-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  footer {
    width: auto;
   }
 
   .footer_bloc {
     display: flex;
     justify-content: space-between;
     width: 90%;
   }
  
  .footer_elem {
    padding: 0px;
    font-size: 0.9em;
  }
}

/*Responsive Petit Mobile*/
@media only screen and (max-width: 373px) {
  #block_page {
    width: auto;
    height: auto;
  }

  /*Header*/
  #logo {
    margin-left: 20px;
  }

  #header {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .navtop {
    padding: 16px 16px 16px 16px;
    width: 50%;
    border-bottom: 3px solid #f2f2f2;
  }

  .navtop_bar {
    width: 100%;
    display: flex;
    order: 3;
  }

  .navtop_links a:hover {
    color: #106ffc;
    border-top: hidden;
    border-bottom: 3px solid #0065fc;
  }

  .navtop_links {
    width: 100%;
    display: flex;
  }

  .nav_login {
    margin-right: 0px;
  }
  
  /*Main*/
  main {
      width: auto;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  
    #after_header {
      margin-left: 20px;
      margin-right: 0px;
    }

  .title1 strong {
    font-size: 0.8em;
  }

  .cities {
    width: 140px;
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
  }
  
  .search_button {
    padding: 15px 20px 15px 20px;
    width: 50px;
  }

  .fa-search {
    visibility: visible;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
  }

  .search_button span {
    display: none;
  }

  /*Filters*/
  #filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .all_button {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    height: 200px;
    width: 324px;
    margin: 0px;
  }

  #info {
    margin-top: 10px;
  }
    
  #info p {
    color: initial;
    font-size: 1em;
    width: 250px;
  }

   /*section hebergement*/ 
  #hotels_total {
  flex-direction: column-reverse;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

#populare {
  width: auto;
  height: 620px;
  border-radius: 0px;
  margin-left: 0px;
  margin-bottom: 30px;
  padding-left: 0px;
}
  
.hotelcard1 {
  width: 300px;
  height: 140px;
}

  .row1 {
    margin: 0px;
    padding: 0px;
  }

  #accomondation {
    background-color: #ffffff;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .title3 {
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .card {
    margin: 10px;
    width: 290px;
    height: 160px;
  }

  .hotelcard img {
    width: 290px;
    height: 113px;
  }

  .container {
    text-align: left;
    margin-left:0px;
  }


  /*section Activities*/

  #activities_Marseille {
    width: 300px;
    height: auto;
    margin-top: 0px;
  }

  .title_5 {
    margin-left: 20px;
  }

  .activities {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }

  .boxes_activities_left {
    display: flex;
    flex-direction: column;
  }

  .boxes_activities_right {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }

  .activity2_3,
  .activity5_6 {
    margin-left: 0px;
  }

  .activity1 img,
  .activity2 img,
  .activity3 img,
  .activity4 img,
  .activity5 img,
  .activity6 img {
    width: 300px;
    height: 130px;
  }

  .card_act_1,
  .card_act_2,
  .card_act_3,
  .card_act_4,
  .card_act_5,
  .card_act_6 {
    width: 300px;
    height: 190px;
    margin-bottom: 20px;
  }

  /*Footer*/
  .footer_bloc {
    flex-wrap: wrap;
    padding: 0;
  }

.footer_elem {
   width: 100%;
   padding: 1.25em;
}

}