@font-face
{
    font-family: "Raleway";
    src: url('fonts/Raleway-VariableFont_wght.ttf');
    src: url('fonts/Raleway-Italic.ttf');
    src: url('fonts/Raleway-Italic-VariableFont_wght.ttf');
    src: url('fonts/Raleway-Bold.ttf');
    src: url('fonts/Raleway-Regular.ttf');
    
}

* 
{
    font-family: 'Raleway', Arial, Verdana, sans-serif;
   
}

body
{
    background-color: #FFFFFF ;
    font-family: "Raleway", sans-serif;
    color: black;
    
    margin: 0px;
    padding: 0px;
}

#block_page
{
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header
{
    padding: 5px 0px 10px 0px;
    margin-left: 50px;
    margin-right: 50px;
}


#en_tete
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    padding: 25px 0px 15px 0px;
}

ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: right;
    width: 370px;
}

#menu
{
    margin-right: 0px;

}

nav a 
{
    font-size: 1em;
    color: initial;
    text-decoration: none;
    margin-right: 15px;
}

#nav-login a
{
    color: #0065FC;
    font-weight: bold;
    margin-right: 80px;
}

#nav-hotels a:hover, #nav-activities a:hover
{
   color: #0065FC;
   border-top: 1px solid #0065FC ;
   font-weight: bold;
}

#nav-hotels, #nav-activities
{
    margin-right: 50px;
}

@media only screen and (max-width: 767px)
{

    #block_page
    {
        width: auto;
    }

    #en_tete
    {
        display: flex;
        flex-direction: column;
    }

    #logo
    {
        text-align: left;
        padding-bottom: 25px;
    }


    #nav-hotels a:hover, #nav-activities a:hover
    {

        border-bottom: 1px solid #0065FC;
        border-top: none;

    }
}


    /*main*/

main
{
    margin-left: 50px;
    margin-right: 50px;
}

.title1 strong
{
    font-weight: bold;
    font-size: 1em;
}

p.subtitle
{
    margin: 5px 0px 20px 0px;
    font-size: medium;
}


#search .icon
{
    padding: 15px 30px 15px 20px;
    background-color: #F2F2F2;
    color: #000000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 1em;
    text-align: center;
}

.cities
{
    color: initial;
    width: 200px;
    padding: 15px 20px 15px 20px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
}

.search_button
{
    background-color: #0065FC;
    color: #FFFFFF;
    font-weight: bold;
    padding: 15px 20px 15px 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 130px;
    border:none;
    font-size: small;
    text-align: center;

}

.fa-search /* icone loupe */
{
    visibility: hidden;
}

.search_box
{
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 767px)
{
    main 
    {
        width: 75%;
    }
    .title1 strong
    {
        font-weight: bolder;
        font-size: 1em;
    
        width: 230px;
    }

    p.subtitle
    {
        margin: 5px 0px 20px 0px;
        font-size: 1em;
    }

    #search .icon
    {
        padding: 25px 20px 20px 20px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .cities
    {
    
        width: 200px;
        padding: 25px 20px 20px 10px;
        
    }

    .search_button
    {
        
        padding: 25px 20px 15px 20px;
        border-radius: 15%;
        width: 50px;

    }

    .fa-search
    {
        visibility: visible;
        font-size: 1.5em;
    }


    span 
    {
        visibility: hidden;
    }
}



    /*Filtres*/

    #filters
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 920px;
    height: 50px;
    margin: 30px 30px 30px 0px;
}

.title2
{
    margin: 5px;
    font-size: 1.1em;
    color: initial;
    font-weight: bold;
}


#money .fa-money-bill-wave 
{
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 10px;
    margin: 0px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    color: #0065FC;
    font-size: 1em;
    
}

#money .money_button
{
    color: initial;
    width: 200px;
    padding: 0px;
    margin: 0px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: initial;
    border-radius: 50px;
    border: 1px solid #DEEBFF;
    text-align: left;
    
}

#money 
{
    display: flex;
    flex-wrap: wrap;
    
}

#familly .fa-child 
{
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 10px;
    margin: 0px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    color: #0065FC;
    font-size: 1em;
    
}

#familly .fam_button
{
    color: initial;
    width: 150px;
    padding: 0px;
    margin: 0px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: initial;
    border-radius: 50px;
    border: 1px solid #DEEBFF;
    text-align: left;
    
    
}

#familly
{
    display: flex;
    flex-wrap: wrap;
    
}

#love .fa-heart
{
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 10px;
    margin: 0px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    color: #0065FC;
    font-size: 1em;
    
}

#love .heart_button
{
    color: initial;
    width: 180px;
    padding: 0px;
    margin: 0px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: initial;
    border-radius: 50px;
    border: 1px solid #DEEBFF;
    text-align: left;
}

#love
{
    display: flex;
    flex-wrap: wrap;
}

#animals .fa-dog
{
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 10px;
    margin: 0px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    color: #0065FC;
    font-size: 1em;
}

#animals .dog-button
{
    color: initial;
    width: 238px;
    padding: 0px;
    margin: 0px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: initial;
    border-radius: 50px;
    border: 1px solid #DEEBFF;
    text-align: left;
    
}

#animals
{
    display: flex;
    flex-wrap: wrap;
}


@media only screen and (max-width: 767px)
{
    
    #filters
    {

        
        
    }




}


    /*  Petit info*/

#info
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#info .fa-info
{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 3px;
    color: #0065FC;
    border: 2px solid #DEEBFF;
    background-color: initial;
    text-align: center;
}

#info p
{
    color: initial;
    font-size: 1em;
    padding-left: 10px;
}

    /*cards pour les hotels*/
.hotelcard img
{
    width: 200px;
    height: 100px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px ;
    padding: 0px;
    image-rendering:pixelated;

}
.title3
{
    
    margin: 30px;
    font-size: 1em;
    font-weight: bold;
}

#accomondation
{
    background-color: #F2F2F2;
    width: 800px;
    height: 620px;
    border-radius: 25px;

}

.row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

    margin-bottom: 16px;
    padding: 0 8px;
}

.card
{
    margin: 30px auto;
    padding: 5px 5px 30px 5px;
    width: 200px;
    height: 150px;
    border-radius: 30px;
    background-color: #FFFFFF;
    
    text-align: left;
    box-shadow: 0 0 10px #0000002e;
    
}
.hotelcard
{
    text-decoration: none;
    
}

.container
{
    text-align: justify;
    font-size: 0.8em;
    line-height: 30%;
    padding-left: 5px;
    
}

.nom_room
{
    color: initial;
    font-weight: bold;
    padding-bottom: 5px;
}

.price_room
{
    color: initial;
}

.stars
{
    color: #0065FC;
    padding-bottom: 30px;
}

.stars span
{
    color: #F2F2F2;
}

strong .price
{
    font-weight: bold;
}

.accomondation_container
{
    text-align: justify;
}


.more p
{
    padding-left: 3em;
    font-weight: bold;
}


    /*les hotels populaires*/
.hotelcard1 img
{
    width: 130px;
    height: 130px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px ;
    padding: 5px 0px 5px 5px;
    image-rendering:pixelated;
}

#populare
{
    background-color: #F2F2F2;
    width: 400px;
    height: 620px;
    border-radius: 30px;
    text-align: justify;
    margin-left: 45px;

}

#populare .title_4
{

    margin-left: 20px;
    font-size: 1em;
    font-weight: bold;
    
}


.row1
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column1
{
    display: flex;
    justify-content: center;
}

.hotelcard1
{
    margin: 20px;
    width: 340px;
    height: 140px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #0000002e;
    display: flex;
    text-decoration: none;
}

.container1
{   
    text-align: left;
    font-size: 0.8em;
    color: initial;
    padding-left: 10px;
} 

.nom_pop
{
    color: initial;
    font-weight: bold;
    padding-bottom: 5px;
}


.stars
{
    color: #0065FC;
    padding-bottom: 30px;
}

.stars span
{
    color: #F2F2F2;
}

#hotels_total
{
    display: flex;
    width: 1335px;

}

#accomondation, #populare
{
    text-align: justify;
}

@media only screen and (max-width: 767px)
{



}

    /*Activités*/

    #activities
{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
    max-width: 1350px;

}

.title_5 h2
{
    text-align: left;
    margin-bottom: 27px;
    font-size: large;
    font-weight: bold;
}

.boxes_activities
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.activity1 img
{
    width: 310px;
    height: 390px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px ;
    image-rendering:pixelated;
}

.card_act_1
{
    margin: 0px;
    padding: 0px;
    width: 310px;
    height: 440px;
    border-radius: 25px;
    box-shadow: 0 0 10px #0000002e;
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.activity2 img
{
    width: 300px;
    height: 180px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px ;
    image-rendering:pixelated;
}

.card_act_2
{
    margin-bottom: 42px;
    padding: 0px;
    width: 300px;
    height: 232px;
    border-radius: 25px;
    box-shadow: 0 0 10px #0000002e;
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}   

.activity3 img
{
    width: 300px;
    height: 104px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    image-rendering:pixelated;

}
    

.card_act_3
{
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 150px;
    border-radius: 25px;
    box-shadow: 0 0 10px #0000002e;
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.activity4 img
{
    width: 310px;
    height: 390px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px ;
    image-rendering:pixelated;
}

.card_act_4
{
    margin: 0px;
    padding: 0px;
    width: 310px;
    height: 440px;
    border-radius: 25px;
    box-shadow: 0 0 10px #0000002e;
    
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}


.activity5 img
{
    width: 300px;
    height: 138px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px ;
    image-rendering:pixelated;
}

.card_act_5
{
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 190px;
    border-radius: 25px;
    box-shadow: 0 0 10px #0000002e;
    
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.activity6 img
{
    width: 300px;
    height: 150px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px ;
    image-rendering:pixelated;
}

.card_act_6
{

    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 0 10px #0000002e;
    
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.boxes_activities a
{
    text-decoration: none;
    font-size: 0.9em;
    font-style: normal;
    color: black;
    font-weight: bold;
    text-align: left;
}

.boxes_activities p
{
    padding-left: 25px;
}


footer
{
    display: flex;
    width: 1340px;
    height: 150px;
    background-color: #F2F2F2;
    margin-top: 50px;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
}

.final
{
    font-size: 1em;
    font-weight: bolder;
}

.final p
{
    font-size: 0.8em;
    font-style: normal;

}

